<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>{$page_title|default:"Podstawowy tytuł"}</title>
	<link rel="stylesheet" href="{$app_url}/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="{$app_url}/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<section id="sidebar">
		<div class="inner">
			<nav>
				<ul>
					<li><a href="#calc"><span class="icon solid fa-calculator"></span> Kalkulator</a></li>
					<li><a href="#result">Wynik</a></li>
				</ul>
			</nav>
		</div>
	</section>

	<div id="wrapper">

{block name=content}{/block}

	</div>

	<script src="{$app_url}/assets/js/jquery.min.js"></script>
	<script src="{$app_url}/assets/js/jquery.scrollex.min.js"></script>
	<script src="{$app_url}/assets/js/jquery.scrolly.min.js"></script>
	<script src="{$app_url}/assets/js/browser.min.js"></script>
	<script src="{$app_url}/assets/js/breakpoints.min.js"></script>
	<script src="{$app_url}/assets/js/util.js"></script>
	<script src="{$app_url}/assets/js/main.js"></script>

</body>
</html>
